
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="root-login">
        {{!-- {{loginString}} --}}
       {{{loginString}}}
    </div>
    {{!-- <script type="text/javascript" src="../build/login.js"></script> --}}
    <script type="text/javascript" src="../build/serverSideLogin.js"></script>
    <link rel="stylesheet" href="../styles/login.css" />
</body>

</html>